{% extends 'base.html.twig' %}

{% block body %}
<h1> Cette page affichera la liste des entreprises proposant un stage </h1>

<ul>
  {% for stage in stages %}
    <li><a class="entreprise" href="{{ path('stagesParEntreprise',{'nomEntreprise': stage.entreprises.nom}) }}">{{stage.entreprises.nom}}</a></li>
  {% endfor %}
</ul>

{% endblock %}
