{% extends 'base.html.twig' %}

{% block body %}
<h1> Cette page affichera le descriptif du stage ayant pour identifiant {{stage.id}} </h1>

<h2> {{stage.intitule}} </h2>

<p> {{stage.mission}} </p>

<p> {{stage.adresseMail}} </p>

{% endblock %}
